<!DOCTYPE html>
<html ng-app>
<head>
	<title>Ten-Pin Bowling Game Kata</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
	<script src="http://underscorejs.org/underscore.js"></script>
	<script type="text/javascript" src="js/Frame.js"></script>
	<script type="text/javascript" src="js/Score.js"></script>
	<script type="text/javascript" src="js/AppCtrl.js"></script>
</head>
<body>
<div ng-controller="AppCtrl">
	<h1>Current value: {{ currentValue() }}</h1>

	<div ng-repeat="pins in totalPins">
		<button ng-click="add(pins)">{{pins}} pin</button>
	</div>
</div>
</body>
</html>